# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OMNeT++
Makefile*
run
.cproject
.nedfolders
.oppbuildspec
.project
.tkenvrc
*.pyc
*.pcap
*.sca
*.vec
*.anf
.settings/
out/
results/
/doc/doxy/
/doc/neddoc/
/examples/*/results/
/examples/*/*/results/
/examples/*/*/*/results/
/tests/*/work/
*_m.h
*_m.cc
*_sm.h
*_sm.cc
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.o
*.obj
*.pdb
*.idb
*.manifest
.tkenvrc
.tkenvlog
.cmdenv-log
netanim-trace.txt
*.out
gcc-debug
*.bak
backups
*~
xxx
/3rdparty
/tmp/
/src/.tmp*

